body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    margin: 0;
    padding: 0;
    height: 100vh;
}

button {
    background-color: rgb(165, 156, 156);
    font-size: 50px;
    border-radius: 10px;
    border: none;
    width: 80px;
    box-shadow: 0 0 5px rgb(165, 156, 156);
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
}

input {
    font-size: 50px;
    border-radius: 10px;
    border-color: rgb(218, 205, 205);
    border-width: 5px;
}

button:hover {
    background-color: rgb(243, 231, 208);
}

#counter-container {
    padding: 50px;
    border-radius: 10px;
    border-color: black;
    margin: 20px auto;
    
}

#buttons {
   margin: 20px;
}

#count {
    font-size: 25px;
}